* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: rgb(47, 47, 47);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.opaque {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(148, 143, 143);
  z-index: 100;
  display: none;
  opacity: 0;
}

.sidebar {
  grid-column: span 2;
  border-right: solid rgb(34, 34, 34);
  box-shadow: 1px 0px 5px rgb(77, 77, 77),
              -4px 0px 9px -4px rgb(77, 77, 77) inset;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, 40px);
  align-items: center;
  justify-items: center;
  padding-top: 3vh;
}

button {
  background: rgb(47, 47, 47);
  color: white;
  box-shadow: 1px 1px 2px rgb(32, 32, 32) inset,
  -1px -1px 1px rgb(110, 109, 109) inset;
  border: none;
  border-radius: 20px;
  padding: 1vh;
  width: 60%;
  text-align: left;
}

button:hover {
  background-color: rgb(77, 75, 75);
  cursor: pointer;
}

.separator1 {
  width: 90%;
  border-color: rgb(139, 137, 137);
}

.separator2 {
  width: 100%;
  border-color: rgb(139, 137, 137);
  grid-column: 4/12;
  height: fit-content;
}

h2 {
  font-size: 2vw;
}

main {
  grid-column: 4/12;
  height: 100%;
  overflow-y: scroll;
  padding-right: 1vw;
}

header {
  display: flex;
  justify-content: space-between;
}

.task {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 120px;
  align-items: center;
  height: 50px;
  margin: auto;
  box-shadow: 1px 1px 2px rgb(32, 32, 32) inset,
              -1px -1px 1px rgb(110, 109, 109) inset;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 20px;
  margin-bottom: 20px;
} 

.task--checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid 2px rgb(95, 95, 95);
  grid-column: span 1;
  color: rgb(47, 47, 47);
}

.task--checkbox:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.task--expand-colapse{
  grid-column: 11/12;
}

.fa-chevron-down, .fa-chevron-up {
  font-size: 30px;
}

.fa-chevron-down:hover, .fa-chevron-up:hover {
  cursor: pointer;
}

.task--title {
  grid-column: span 3;
}

.task--project {
  grid-column: span 3;
}

.task--text {
  display: inline;
  margin-left: 20px;
}

.task--date {
  grid-column: span 3;
}

.task--priority {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgb(47, 47, 47) 0%, rgba(230,20,20,1) 100%);
  grid-column: 12/14;
  grid-row: 1/3;
  z-index: -100;
}

.task-description {
  grid-column: span 7;
  max-height: 100px;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-right: 20px;
}

.task--button {
  display: block;
  position: initial;
  align-self: flex-start;
  width: fit-content;
}

.task--button:hover {
  color: black;
  transition: 0.2s;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: rgb(47, 47, 47);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(87, 82, 82);
  border-radius: 20px;
}

.create-task-form {
  z-index: 200;
  background-color: rgb(47, 47, 47);
  position: absolute;
  left: 25%;
  top: 10%;
  display: none;
  opacity: 0;
}

.form--title {
  width: 100%;
  height: 60%;
  margin: 0;
  padding-left: 10px;
}

.form--project {
  justify-self: center;
}

.form--date {
  grid-column: 8/10;
}

.form--description {
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.form--description--container {
  height: 100%;
}

.form--priority {
  display: flex;
}

.fa-times-circle {
  grid-column: 12/13;
  grid-row: 1/2;
  justify-self: right;
  align-self: flex-start;
  margin-right: 10px;
  margin-top: 10px;
}

.fa-times-circle:hover {
  color: red;
  cursor: pointer;
}

.collapsed {
  height: 50px;
  transition: .4s ease-in;
}

.expanded {
  height: 170px;
  transition: .4s ease-out;
}


.form--accept {
  grid-column: 12/13;
  grid-row: 2/3;
  width: 16px;
  height: 16px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
  display: block;
}

.form--accept:hover {
  cursor: pointer;
  color: green;
}

input {
  background-color: rgb(47, 47, 47);
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 1px 1px 2px rgb(32, 32, 32) inset,
              -1px -1px 1px rgb(110, 109, 109) inset;
}

input:focus-visible {
  outline: none;
}

.form--visible {
  display: grid;
  opacity: 1;
  transition: opacity .4s ease-in;
}

.opaque--visible {
  display: block;
  opacity: .6;
  transition: opacity .4s ease-in;
}

.projects-header {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}